<!DOCTYPE html>

<html>





<head>
	<link href="static/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="design.css">

	<meta charset="utf-8">
    	<title>V~BTS</title>

</head>

    


<body style= "background:pink">
 <!--<div class="container-fluid" style= "background:deeppink">
  <center><h1 class="text-center"> V~BTS </h1></center>  
  </div>-->


<div class="sticky-top" style= "background:deeppink">
  <center><h1 class="text-center"> V~BTS </h1></center> 
</div>


 	
<div> 	
    <center >
        <p><font size="7" face="Bradley Hand, cursive" color="maroon">V,</font><I>est un chanteur sud-coréen appartenant au groupe BTS. Il fait ses débuts officiels
   avec le groupe en juin 2013.Son nom n'a été révélé que le 27 mai 2013<br> avec le teaser du groupe. Son identité, 
elle, n'a été dévoilée que le 2 juin 2013 avec sa photo teaser. </I></p>
        <br>
  <p>Kim Tae-hyung (hangeul: 김태형; hanja: 金泰亨; katakana: キム·テヒョン), mieux connu sous son nom de scène V (hangeul: 뷔),<br> est un chanteur, danseur, modèle et acteur sud-coréen né le 30 décembre 1995 à Daegu. Il est membre du boys band sud-coréen BTS. </p>
</center>

    
    	
<p>
<p> <h2> Profil </h2></p>
<p>Date de naissance : 30/12/1995</p>
<p> Lieu de naissance : Daegu, Corée du Sud.</p>
<p>Surnoms : TaeTae, Blank Tae, Mongtae, 4D, Uveconda.</p>
<p>Taille : 1m78</p>
<p>Poids : 62 kg</p>
<p>Groupe sanguin : AB</p>
<p>Famille : Parents, sœur et frère cadets.</p>
<p>Signe astrologique : Capricorne</p>
<p>Modèle : Son père </p>
    
</div>

<div id="intro">
    <center>
    <img src="static/v.jpg" class="img-rounded" >
    <img src="static/v_black.jpg" class="rounded-circle">
    <img src="static/v_cat.jpg" class="rounded">
    <img src="static/v_lapin.jpg" class="img-thumbnail">
</center>
</div>

<div id="carte">
        <a href="https://www.youtube.com/watch?v=5d3065_JkUM" style="background:red"><h1>  CLIQUE ICI POUR UNE SURPRISE ! </h1>
            <a>
        <a href="https://www.youtube.com/watch?v=14QV3uGijxg">
          <input type="button" name="Cliquez Ici"value="Cover 2U (BTS Kim Taehyung version)" style="background:purple"></a>
            <a href="https://www.youtube.com/watch?v=p8npDG2ulKQ"><input type="button" name="Cliquez Ici"value="BTS (방탄소년단) LOVE YOURSELF 轉 Tear 'Singularity' Comeback Trailer"></a>
        <button href="https://www.youtube.com/watch?v=mJEHTdQoSsA" type="button" class="btn btn-secondary btn-lg">BTS V & Jin- 'Even If I Die, It's You'</button>
        
            <label for="t-rex-roar-loop">
                V (BTS) - Someone Like You (Original By Adele).mp3
              </label>
              <br>
            <audio controls>
  <source href="https://www.youtube.com/watch?v=pvmNeNd5SYk" src="V (BTS) - Someone Like You (Original By Adele).mp3" type="audio/mpeg">
</audio>
<br>

<h2> ↓  CLIQUE SUR L'IMAGE EN DESSOUS ↓ </h2>

<a href="https://www.youtube.com/watch?v=tIGd1-ckvkc"><img src="static/v-minnie.png"></a>
</div>

</body>


    
  
</html>